In [1]:
print("Hello")

Hello

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("./titanic.csv")

In [4]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [5]:
df['Cabin'].isnull().sum()

327

In [6]:
df['Age'].sum()

10050.5

In [8]:
df['Embarked'].value_counts()

S    270
C    102
Q     46
Name: Embarked, dtype: int64

In [9]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [10]:
a = df['Age'].sum() /418
a

24.044258373205743

In [11]:
df1 = df.drop(['Name', 'Cabin'], axis=1)

In [12]:
df1.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,0,3,male,34.5,0,0,330911,7.8292,Q
1,893,1,3,female,47.0,1,0,363272,7.0000,S
2,894,0,2,male,62.0,0,0,240276,9.6875,Q
3,895,0,3,male,27.0,0,0,315154,8.6625,S
4,896,1,3,female,22.0,1,1,3101298,12.2875,S

In [13]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

df1['Embarked'] = label_encoder.fit_transform(df1['Embarked'])

In [14]:
df1['Sex'] = label_encoder.fit_transform(df1['Sex'])

In [15]:
df1.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,0,3,1,34.5,0,0,330911,7.8292,1
1,893,1,3,0,47.0,1,0,363272,7.0000,2
2,894,0,2,1,62.0,0,0,240276,9.6875,1
3,895,0,3,1,27.0,0,0,315154,8.6625,2
4,896,1,3,0,22.0,1,1,3101298,12.2875,2

In [16]:
df1.corr()

/var/folders/zv/x2lv03fs46n15fxz2b08zwx00000gn/T/ipykernel_16360/473017434.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.corr()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked
PassengerId,1.000000,-0.023245,-0.026751,0.023245,-0.034102,0.003818,0.043080,0.008211,0.040699
Survived,-0.023245,1.000000,-0.108615,-1.000000,-0.000013,0.099943,0.159120,0.191514,-0.076281
Pclass,-0.026751,-0.108615,1.000000,0.108615,-0.492143,0.001087,0.018721,-0.577147,0.227983
Sex,0.023245,-1.000000,0.108615,1.000000,0.000013,-0.099943,-0.159120,-0.191514,0.076281
Age,-0.034102,-0.000013,-0.492143,0.000013,1.000000,-0.091587,-0.061249,0.337932,-0.175848
SibSp,0.003818,0.099943,0.001087,-0.099943,-0.091587,1.000000,0.306895,0.171539,0.052708
Parch,0.043080,0.159120,0.018721,-0.159120,-0.061249,0.306895,1.000000,0.230046,0.054577
Fare,0.008211,0.191514,-0.577147,-0.191514,0.337932,0.171539,0.230046,1.000000,-0.257183
Embarked,0.040699,-0.076281,0.227983,0.076281,-0.175848,0.052708,0.054577,-0.257183,1.000000

In [17]:
df1.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [18]:
df1 = df1.drop(['PassengerId', 'Ticket'], axis=0)

In [19]:
df1.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  34.5      0      0   7.8292         1
1         1       3    0  47.0      1      0   7.0000         2
2         0       2    1  62.0      0      0   9.6875         1
3         0       3    1  27.0      0      0   8.6625         2
4         1       3    0  22.0      1      1  12.2875         2

In [20]:
df1.isnull().sum()

Survived     0
Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [45]:
avg = df1['Age'].sum() / 418

In [46]:
avg

28.915602446272647

In [47]:
df1["Age"].fillna(avg, inplace = True)

In [48]:
df1.isnull.sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [49]:
df1.dropna()

     Survived  Pclass  Sex        Age  SibSp  Parch      Fare  Embarked
0           0       3    1  34.500000      0      0    7.8292         1
1           1       3    0  47.000000      1      0    7.0000         2
2           0       2    1  62.000000      0      0    9.6875         1
3           0       3    1  27.000000      0      0    8.6625         2
4           1       3    0  22.000000      1      1   12.2875         2
..        ...     ...  ...        ...    ...    ...       ...       ...
413         0       3    1  24.044258      0      0    8.0500         2
414         1       1    0  39.000000      0      0  108.9000         0
415         0       3    1  38.500000      0      0    7.2500         2
416         0       3    1  24.044258      0      0    8.0500         2
417         0       3    1  24.044258      1      1   22.3583         0

[417 rows x 8 columns]

In [50]:
df1.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  34.5      0      0   7.8292         1
1         1       3    0  47.0      1      0   7.0000         2
2         0       2    1  62.0      0      0   9.6875         1
3         0       3    1  27.0      0      0   8.6625         2
4         1       3    0  22.0      1      1  12.2875         2

In [51]:
df1['Age'].sum()

12057.806220095694

In [52]:
df1.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [53]:
df1 = df1.dropna()

In [54]:
df1.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [55]:
X = df1.drop(columns= 'Survived', axis= 0) # Storing features in X var
Y = df1['Survived'] # Storing target var in Y var

In [56]:
X.shape

(417, 7)

In [57]:
Y.shape

(417,)

In [58]:
from sklearn.model_selection import train_test_split # dividing the data into training and test data
from sklearn.linear_model import LogisticRegression # gives binary answers either yes or no
from sklearn.metrics import accuracy_score

In [59]:
X_train, Y_train, Y_test, X_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state = 2)

In [60]:
len(X_train), len(X_test)

(333, 84)

In [61]:
model = LogisticRegression()

In [62]:
model.fit(X_train.values, Y_train.values)

/Users/omachrekar/miniforge3/envs/work/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [63]:
X_train_prediction = model.predict(X_train.values)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [64]:
training_data_accuracy

1.0

In [65]:
X_test_prediction = model.predict(X_test.values)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [66]:
test_data_accuracy

1.0